{% extends 'core/base.html' %} 

{% block title %}Privacy Policy{% endblock %} 


{% block content %}
<h1><b>Privacy Policy</b></h1>
<p>Interdum et malesuada fames ac ante ipsum primis in faucibus. Maecenas vulputate elit ut sem bibendum, nec rutrum ex iaculis. Donec erat enim, bibendum nec mattis eget, interdum euismod nisi. Mauris mattis, tortor eu tempor commodo, nunc tellus dignissim justo, vehicula faucibus ipsum sem sit amet ligula. Cras sed accumsan erat. Integer molestie ipsum quis justo gravida euismod. In a auctor ligula. Ut ac enim vel dolor malesuada dapibus.
Aenean sit amet quam a ex mattis euismod nec at lectus. Nullam nisi mauris, eleifend eu ligula eget, vehicula tincidunt nulla. Duis congue congue consequat. Duis pellentesque laoreet ex, a fermentum purus laoreet ac. Pellentesque sed lacus non arcu imperdiet tincidunt a vel eros. Pellentesque venenatis leo in mattis varius. Ut libero massa, maximus ut odio eu, egestas vestibulum tortor. Donec hendrerit congue erat eget tempor. Praesent quis aliquet arcu, nec consectetur nisi. Maecenas varius ligula vitae cursus sodales. Aenean tristique imperdiet eleifend. Fusce at ex nec mi tristique blandit eget vitae metus.</p>
{% endblock %}
